body {
	font-family: Calibri;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: left;
  position: relative;
}
.flexbox {
	display: flex;
	flex-wrap: wrap;
}
.justify-space-between {
	justify-content: space-between;
	-webkit-justify-content: space-between;
}
.flex-basis-50 {
	flex-basis: 50%;
}
.align-center {
	align-items: center;
	-webkit-align-items: center;
}
.mb16 {
	margin-bottom: 16px !important;
}
.mb0 {
	margin-bottom: 0 !important;
}
.mt0 {
	margin-top: 0 !important;
}
.mr20 {
	margin-right: 20px;
}
a:focus, checkbox:focus {
	outline: none
}
.checkbox, .radio {
  margin-bottom: 25px;
}
input[type="text"] {
	border-radius: 4px;
  background-color: #ffffff;
  box-shadow: 0 0 20px 0 rgba(220, 220, 220, 0.4);
  border: solid 1px #cbcbcb;
}
.logo-img {
	margin: 10px 0;
}
.header-section p {
	margin-bottom: 0;
	font-family: Calibri;
  font-size: 16px;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.3;
  letter-spacing: normal;
  text-align: left;
}
.survey-form {
	margin-top: 100px;
}
form h1 {
	font-family: Calibri;
  font-size: 38px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  margin-top: 0
}
section {
	padding: 72px 0; 
}
section .flexbox {
	margin-left: 24px;
}
.section-btn {
	min-width: 158px;
  cursor: default;
}
.btn {
	border-radius: 4px;
  background-color: #04779a;
  border-color: #04779a;
  font-size: 18px;
  line-height: normal;
  margin-right: 30px;
  text-align: center;
  outline: none
}
.btn:hover, .btn:focus, 
.btn:active, .btn:active:hover,
.btn:active:focus {
	background-color: #04779a;
	border-color: #04779a;
	box-shadow: none;
	outline: none
}
label {
	line-height: 1.5;
}
.subtitle {
	margin-top: 20px;
	margin-bottom: 50px
}


.section1 .address-section {
	margin-top: 30px;
}
.section1 .address-section p {
}
.property-type .flexbox {
	align-items: baseline;
	-webkit-align-items: baseline;
}
.property-type .flexbox .checkbox {
 	margin-right: 20px;
 	margin-bottom: 5px;
}


.section2 {
	background-color: #082d5d;
}
.section2 label, .section2 p, .section2 span  {
  font-weight: normal;
  color: #fff;
}
.sectionA-input {
	width: 320px;
}


.sectionC {
	background-color: #49535c;
	color: #fff;
}
.sectionC .checkbox, .sectionD .checkbox {
	margin-right: 40px
}
.sectionC textarea {
	color: #000;
	width: 580px;
	border-radius: 4px;
  background-color: #ffffff;
  box-shadow: 0 0 20px 0 rgba(220, 220, 220, 0.4);
  border: solid 1px #cbcbcb;
  margin-left: 24px;
}

.sectionE {
	background-color: #04779a;
	color: #fff;
}
.sectionE input {
	min-width: 267px;
}
.sectionE .checkbox {
	margin-right: 40px;
}
.sectionE .flexbox p {
	margin-right: 30px
}
.section-details p {
	margin-bottom: 30px;
}
.section1 .flexbox, .sectionE .flexbox, .section-details .flexbox {
	margin-left: 0;
}
.section-details .form-group {
	margin-right: 30px;
}
.section-details input {
	width: 190px;
}

.form-submit-btn {
	width: 216px;
	color: #fff;
	margin-bottom: 80px;
}

/*======= Sub Footer ========*/
.sub-footer p {
	font-size: 18px;
}
.sub-footer p a {
	color: #000;
}
.sub-footer p a:hover {
	text-decoration: underline;
	color: #000;
}


/*======= Footer =====*/
footer {
	background: #000;
	padding: 20px 0;
	color: #fff;
}
footer p {
	margin-bottom: 0
}